# FILES
.*
*.h5
*.png
*.npz
*.tar.gz
*.tar

#DIRECTORIES
.*/
__pycache__/
outputs/*/
outputs_*/

#SPECIFIC FILES
datasets.txt
database.db
train/Supervised/preprocessing2.sh

#SPECIFIC DIRECTORIES
plots/
data/
outputs_shared
